.btn-flyout-close,
.btn-flyout {
	height: 2.7em;
	width: 4em;
	background: none;
	position: absolute;
	bottom: 0;
	right: 0;
	border: none;
	border-top-left-radius: 1em;	
}

.btn-flyout {
	background-color: rgba(#337b52,0.5);
}

.flyout {
	display: none;

	z-index: 11;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #337b52;
	width: 20em;
	height: 20em;
	padding: 2em 0 0;
	border-top-left-radius: 2em;
}

ul {
	list-style: none;
	a {
		display: block;
		padding: 1em 2em;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
	}	
}

